$border-color: #979797;
$label-color: #db202f;

.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px $border-color;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  cursor: grabbing;

  input {
    display: none;  // hide iput button and use label to trigger it
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }
}

.progress-bar {
  display: flex;
}



