<div class="container" >

	<div class="center">
		<!-- drag and drop files -->
    <div class="drag-drop" appDnd (fileDropped)="onFileDropped($event)">
			<mat-icon class="grey">cloud_upload</mat-icon>
			<div>Drag &amp; Drop</div>
		</div>

		<div class="large-font"> Or <div>
		<!-- upload files -->
		<div>
			<input class="file-input" type="file" #fileDropRef id="fileDropRef" multiple 
			(change)="fileBrowseHandler($any($event.target).files)" />
			
			<label class="mat-elevation-z4"
				matTooltip="Hold Ctrl key to select individual files, or press Shift key to select a range of files"
      	for="fileDropRef">
        Attach file(s)<mat-icon>attach_file</mat-icon>
			</label>
		</div>
	</div>
</div>

<div class="files-list">
	<div class="single-file" *ngFor="let file of files; let i = index">
		<div style="width: 50px">
			<mat-icon>description</mat-icon>
		</div>
		<div class="info">
			<h4 class="name">
				{{ file?.name }}
			</h4>
			<p class="size">
				{{ formatBytes(file?.size) }}
			</p>
			<app-progress [progress]="file?.progress"></app-progress>
		</div>

		<div class="delete" (click)="deleteFile(i)">
			<mat-icon>delete</mat-icon>
		</div>
	</div>
</div>

	<div>

	</div>