
<!-- A user can upload an array of files using one of the 2 methods below: 
	🐉 drag and drop files, or 
	🔍 click a button to select files 
-->
<!-- 🐉 file drag and drop -->
<div class="dropzone" appDragAndDrop (fileDropped)="onFilesDropped($event)">  
	
	<mat-icon class="magnification-2 primary-500">cloud_upload</mat-icon> <br><br>
	<h3>Drag and drop files here <mat-icon class="accent-200 help"
		matTooltip="As of May, 2023, Google Chrome for Linux has a bug where file drop sometimes results in empty file list. This will not 
		affect you if you use Windows operating system. If you use a Linux-based operating system (Chromebook, Android phone/tablet), please 
		use file attach button below instead of drag-and-drop.">
		help</mat-icon></h3>
	<h3>or</h3>
	
	<!-- 🔍 input for file selection (not displayed, triggered with a button) -->
	<input type="file" #fileSelectRef id="filesSelectRef" multiple (change)="onFilesSelected($event)" />
	<!-- button for triggering file selection -->
	<button mat-fab (click)="fileSelectRef.click()" class="grab" matTooltip="click to select files">
		<mat-icon>attach_file</mat-icon>
	</button>

<!-- file upload progress bar -->
	<div class="progress">
		<mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress"></mat-progress-bar>
		<mat-icon (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
	</div>
</div>

