<mat-toolbar color="primary" class="mat-elevation-z12">
	<div>
		<mat-icon [matMenuTriggerFor]="appMenu" class=""mat-elevation-z2>menu</mat-icon>
	</div>

	<div>Angular + Node.js with TypeScript</div>

	<div>
		<mat-icon [routerLink]="['/help']" class="mat-elevation-z2">help</mat-icon>
	</div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon>Home</button>
  <button mat-menu-item [routerLink]="['/upload']">File upload</button>
</mat-menu>